.header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo_img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.logo_link {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-weight: 700;
}

.logo a,
.logo a:hover {
    text-decoration: none;
    color: #131022;
}

.linkActive {
    color: #6366f1;
}

.user a:last-child {
    margin-left: 10px;
}