.register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.top {
    margin-bottom: 35px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.subtitle {
    color: #585c7b;
    text-align: center;
}

.subtitle a {
    color: #6366f1;
    font-weight: 400;
    text-decoration: underline;
}

.wrapper {
    width: 100%;
}

.main-error-block {
    position: relative;
    padding-bottom: 10px;
}

.main-error-block .main-error {
    color: #ef4444;
    text-align: center;
}