.button {
    cursor: pointer;
}

.loader {
    background-color: #6366F1BC;
    color: #fff;
    text-align: center;
    padding: 13px 10px;
    border-radius: 5px;
}

.text {
    clip-path: inset(0 1.2ch 0 0);
    animation: l 1s steps(4) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}