%svg-common {
	background: url("svg/sprite.css-80b85db7.svg") no-repeat;
}

.svg-hamburger {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-hamburger-dims {
	width: 512px;
	height: 512px;
}

.svg-svg {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-svg-dims {
	width: 512px;
	height: 512px;
}

