@import './utils/fonts.scss';
@import './sprites/sprite.scss';
@import './_variables.scss';

.test-text {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: $bg-color;
  font-size: 43px;
}
